@import '../../assets/styles/variables.scss';

::-webkit-scrollbar {
    display: none;
}

.card-container {
    display: block;
    overflow: auto;
    max-height: 80vh;
}

.card{
    background-color: $snow-color;
    margin-bottom: 1rem;

    img {
        object-fit: cover;
        width: 100%;
        height: 20vh;
    }

    .card-title{
        color: #195744;
        font-family: 'Lato', sans-serif;
    }

    .card-text{
        color: #195744;
        font-family: 'Open Sans Condensed', sans-serif;
        margin: 0;
    }

    .card-link{
        color: #2a2521;
        font-family: 'Lato', sans-serif;
    }
}

@media screen and (min-width: 640px) {
    .card {
        margin-bottom: .75rem;
        .card-text {
            margin-bottom: 0.5rem;
        }
    }

}
