<div class="card-container">
  <div class="card-columns ">
    <div *ngFor="let recipe of recipes" class="card">
      <div class="center-cropped">
      <img class="card-img-top img-fluid" src="{{recipe.photoUrl}}" alt="Card image cap">
      </div><div class="card-block">
        <h4 class="card-title">{{recipe.name | uppercase}}</h4>
        <p *ngFor="let product of recipe.products" class="card-text">
          {{product.value}}
        </p>
        <a href="{{recipe.url}}" class="card-link">Click here to see full recipe on {{recipe.source.name}}</a>
      </div>
    </div>
  </div>
</div>

