<div class="container">
  <div class="ui-fluid">
      <div class="ui-g-12 ui-md-8 ui-lg-6 ui-md-offset-2 ui-lg-offset-3"
      [ngClass]="{'column-search': !up, 'column-search-up': up}">
        <div class="ui-inputgroup">
          <p-autoComplete
            [(ngModel)]="submittedProducts"
            [suggestions]="suggestions"
            (completeMethod)="searchForSuggestions($event)"
            [placeholder]="placeholder"
            [multiple]="true"
            [forceSelection]="true"
            [emptyMessage]="emptyInfo"
            [autoHighlight]="true">
          </p-autoComplete>
          <button pButton type="button" icon="fa-search" class="button-search" (click)="searchForRecipes()">
          </button>
        </div>
      </div>
    <div class="ui-g-12">
      <app-recipe-card [recipes]="foundRecipes"></app-recipe-card>
    </div>
  </div>
</div>

