.column-search {
  margin-top: 20%; }

.column-search-up {
  margin-top: 1%;
  transition: 1s;
  -webkit-transition: 1s; }

.button-search {
  background-color: #ffac17;
  font-size: 1.1em;
  color: #fcfbfa; }

/*# sourceMappingURL=search.component.css.map */
