@import '../../assets/styles/variables.scss';

.column-search {
    margin-top: 20%;
}

.column-search-up {
    margin-top: 1%;
    transition: 1s;
    -webkit-transition: 1s;
}

.button-search {
    background-color: $bright-yellow-color;
    font-size: 1.1em;
    color: $snow-color;
}
