<nav class="navbar navbar-toggleable-sm navbar-light">
  <a class="navbar brand brand-name" href="#">Bite for Me</a>
  <!--<ul class="navbar ml-auto">-->
    <!--<li class="navbar-item">-->
      <!--<a class="nav-link nav-item" href="#">LOGIN</a>-->
    <!--</li>-->
  <!--</ul>-->
</nav>
