.brand-name {
  font-family: 'Pacifico', cursive;
  font-size: 40px;
  color: #fcfbfa;
  text-decoration: none; }

ul {
  list-style: none; }
  ul .nav-item {
    font-family: 'Lato', sans-serif;
    color: #fcfbfa; }

/*# sourceMappingURL=header.component.css.map */
