@import '../../assets/styles/variables.scss';

.brand-name {
    font-family: 'Pacifico', cursive;
    font-size: 40px;
    color: $snow-color;
    text-decoration: none;

}

ul {
    list-style: none;
    .nav-item {
        font-family: 'Lato', sans-serif;
        color: $snow-color;
    }
}
